@using Microsoft.AspNetCore.Identity
@using Portafolio_Bookmark.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookMark</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d9082766a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portafolio_Bookmark.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//sidebar.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-color box-shadow mb-3 nav-color">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Descubrir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MisLibros">Mis libros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Busqueda">Busqueda</a>
                            </li>

                        </ul>
                    }
                    <partial name="_LoginPartial" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <!--Boton para abir sidebar-->
                        <button class="btn navbar-dark " id="hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#MenuNavegacion">
                            <span id="hamburger" class="navbar-toggler-icon"></span>
                        </button>
                    }
                </div>
            </div>

        </nav>
        <!--offcavas sidebar-->
        @if (SignInManager.IsSignedIn(User))
        {
            <div id="MenuNavegacion" class="offcanvas offcanvas-end offcanvas-color">
                <div class="offcanvas-header">

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>

                </div>
                <div class="offcanvas-body">
                    <div class="row">

                        <div class="list-group">
                            <div class="modal-header justify-content-center border-0 p-4">

                                <ul>

                                    <li class="nav-item">
                                        <img src="~/img/undraw_male_avatar_323b.png" class="imgRedonda" />
                                        <a id="manage" class="nav-link fa-solid text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola! @UserManager.GetUserName(User)!</a>
                                    </li>
                                    <hr />
                                    <li>
                                        <div class="modal-body text-uppercase px-0 py-4 flex-1">
                                            <ul class="nav nav-pills flex-column mb-auto">
                                                <li class="nav-item ">
                                                    <a href="#" class="nav-link fa-solid text-light">
                                                        Desafio de Lectura
                                                    </a>
                                                </li>
                                                <hr />
                                                <li>
                                                    <a  class="nav-link fa-solid text-light" asp-area="Identity" asp-page="/Account/Manage/Index">
                                                        Configuracion
                                                    </a>
                                                </li> 
                                                <hr />
                                            </ul>
                                        </div>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <form id="logoutForm" class="form-inline fa-solid" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Principal", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-light cerrar">Cerrar Sesion</button>
                                        </form>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer justify-content-start border-0 p-3">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item ">

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
       <script> 
        window.usuariID = "@UserManager.GetUserId(User)";
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

